services:
  backend:
    build: ./backend
    container_name: expense-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: always

  frontend:
    build: ./frontend/expense-tracker
    container_name: expense-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always