@import "tailwindcss";
@layer base{
  body{
    background-color:white;
    overflow-x:hidden;
  }
}
.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded py-3 px-4 mb-4 mt-3 border border-slate-300 outline-none;
}
.btn-primary{
  @apply w-full text-sm font-medium text-white bg-violet-500 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-purple-600/15 hover:text-purple-600;
}